<html>
  <head>
    <script src="/versions.js"></script>
    <link href="/styles.css" rel="stylesheet">
    <link href="/pad/p/conflicts_and_confusions" rel="alternate" title="Etherpad" type="text/html">
    <link href="conflicts_and_confusions.raw.txt" rel="alternate" title="Plain text" type="text/plain">
    <link href="conflicts_and_confusions.raw.html" rel="alternate" title="HTML" type="text/html">
    <link href="conflicts_and_confusions.diff.html" rel="alternate" title="HTML with author colors" type="text/html">
    <link href="conflicts_and_confusions.meta.json" rel="alternate" title="Meta data" type="application/json">
    <link href="/" rel="search" title="Index" type="text/html">
    <meta charset="utf-8"></meta>
    <title>conflicts_and_confusions</title>
  </head>
  <body>
    <strong>WORK notes </strong>
    <br>
    <br>
    <strong>
      <u>WIKIPEDIA proposals</u>
    </strong>
    <br>
    <br>
    <strong>
      <u>MainTemplate</u>
    </strong>
    <br>Talk tab is not prominent and informative enough <br>as it does not take into account that many pages<br>could have very interesting information <br>and/or lively discussions behind the static/stable front.<br>Idaelly it would visualize the quantity/volume of activity<br>and entities being involved in Talk-activities.<br>
    <br>
    <br>
    <strong>
      <u>BannerTemplate </u>
    </strong>
    <br>to be <strong>made</strong> (ideally at least 2:<br>#1 being more about diversity of voices and <br>#2 more radical and against normativity) <br>and <strong>launched</strong> with somewhat of a strategy<br>#a ideally via higher ranked wikimedia accounts)<br>#b together (?) and simultanious (?)<br>so it does not get deleted easily by hard-core Wikimedia Deletionists<br>
    <a href="https://en.wikipedia.org/wiki/Deletionism_and_inclusionism_in_Wikipedia">https://en.wikipedia.org/wiki/Deletionism_and_inclusionism_in_Wikipedia</a>
    <br>
    <br>
    <br>
    <br>Examples of existing BannerTemplates<br>
    <a href="https://en.wikipedia.org/wiki/Wikipedia:Template_messages/Cleanup#Neutrality_and_factual_accuracy">https://en.wikipedia.org/wiki/Wikipedia:Template_messages/Cleanup#Neutrality_and_factual_accuracy</a>
    <br>Interesting banner templates:<br>
    <ul class="bullet">
      <li>{{criticism section}}: This article's <em>Criticism</em> or <em>Controversy</em> section <strong>may compromise the article's neutral point of view of the subject</strong>. Please integrate the section's contents into the article as a whole, or rewrite the material.</li>
    </ul>
    <a href="https://en.wikipedia.org/wiki/Template:Criticism_section">https://en.wikipedia.org/wiki/Template:Criticism_section</a>
    <br>search : insource:/=(=|= )(Criticism|Controversy)( =|=)=/<br>
    <ul class="bullet">
      <li>Style of writing (create template for gender neutral writing )</li>
    </ul>
    <br>Creating a new template banner<br>
    <a href="https://en.wikipedia.org/wiki/Wikipedia:Template_messages">https://en.wikipedia.org/wiki/Wikipedia:Template_messages</a>
    <br>
    <br>
    <em>Criticism</em> or <em>Controversy: please add more criticism or controversy</em>
    <br>
    <br>
    <a href="https://www.youtube.com/watch?v=-KVPA-9hofw">https://www.youtube.com/watch?v=-KVPA-9hofw</a>
    <br>
    <br>Templates: {{em}}<br>
    <br>{{POV}}<br>The <strong>neutrality of this article is disputed</strong>. Relevant discussion may be found on the talk page. Please do not remove this message until conditions to do so are met.<em>(February 2013)</em>
    <em>(Learn how and when to remove this template message)</em>
    <br>
    <br>2 proposals:<br>
    <strong>One fictionnal / radical:</strong>
    <br>{{ {{{|safesubst:}}}#invoke:Unsubst||$N=POV |date=__DATE__ |$B=<br>&lt;!--{{POV}} begin--&gt;{{Ambox<br>| name  = POV<br>| subst = &lt;includeonly&gt;{{subst:substcheck}}&lt;/includeonly&gt;<br>| small = {{{small|}}}<br>| type  = content<br>| class = ambox-POV<br>| style = {{{style|}}}<br>| image = [[File:Unbalanced scales.svg|50x40px|link=]]<br>| issue = The '''[[Wikipedia:Neutral point of view|neutrality]] of this {{{what|article}}} is [[Wikipedia:NPOV dispute|disputed]]'''.<br>| talk  = {{{talk|#}}}<br>| fix   = Please do not remove this message until [[Template:POV#When to remove|conditions to do so are met]].<br>| removalnotice = yes<br>| date  = {{{date|}}}<br>| cat   = NPOV disputes<br>| all   = All NPOV disputes<br>}}&lt;!--{{POV}} end--&gt;<br>}}&lt;noinclude&gt;<br>{{Documentation}}<br>&lt;/noinclude&gt;<br>
    <br>
    <strong>One Practical / possibly integrate on the platform</strong>
    <br>{{ {{{|safesubst:}}}#invoke:Unsubst||$N=POV |date=__DATE__ |$B=<br>&lt;!--{{POV}} begin--&gt;{{Ambox<br>| name  = POV<br>| subst = &lt;includeonly&gt;{{subst:substcheck}}&lt;/includeonly&gt;<br>| small = {{{small|}}}<br>| type  = content<br>| class = ambox-POV<br>| style = {{{style|}}}<br>| image = [[File:Unbalanced scales.svg|50x40px|link=]]<br>| issue = The '''[[Wikipedia:Neutral point of view|neutrality]] of this {{{what|article}}} is [[Wikipedia:NPOV dispute|disputed]]'''.<br>| talk  = {{{talk|#}}}<br>| fix   = Please do not remove this message until [[Template:POV#When to remove|conditions to do so are met]].<br>| removalnotice = yes<br>| date  = {{{date|}}}<br>| cat   = NPOV disputes<br>| all   = All NPOV disputes<br>}}&lt;!--{{POV}} end--&gt;<br>}}&lt;noinclude&gt;<br>{{Documentation}}<br>&lt;/noinclude&gt;<br>
    <br>
    <br>
    <br>WORDING WE COULD USE:<br>
    <a href="http://www.thesaurus.com/browse/incontrovertible">http://www.thesaurus.com/browse/incontrovertible</a>
    <br>
    <br>IMAGES WE COULD USE:<br>to create new icon, <br>#1 feather or mobile as dynamic balancing, and <br>#2 something messier about multiplicity and/or equalizing<br>
    <a href="https://en.wikipedia.org/wiki/Mobile_%28sculpture%29">https://en.wikipedia.org/wiki/Mobile_%28sculpture%29</a>
    <br>
    <a href="https://en.wikipedia.org/wiki/Mobile_%28sculpture%29#/media/File:Calder-redmobile.jpg">https://en.wikipedia.org/wiki/Mobile_%28sculpture%29#/media/File:Calder-redmobile.jpg</a>
    <br>
    <a href="https://en.wikipedia.org/wiki/Mobile_%28sculpture%29#/media/File:Modern_mobile-art_mobiles_mobius.jpg">https://en.wikipedia.org/wiki/Mobile_%28sculpture%29#/media/File:Modern_mobile-art_mobiles_mobius.jpg</a>
    <br>
    <br>
    <a href="https://en.wikipedia.org/wiki/Equalization_(audio)">https://en.wikipedia.org/wiki/Equalization_(audio)</a>
    <a href="https://en.wikipedia.org/wiki/Equalization_%28audio%29#/media/File:Graphic_equalizer.jpg">https://en.wikipedia.org/wiki/Equalization_%28audio%29#/media/File:Graphic_equalizer.jpg</a>
    <br>
    <br>-------------------------<br>
    <br>
    <strong>Histories of conflicts and confusions</strong>
    <br>ZELJKO BLACE<br>
    <br>perspective on queering and the archives<br>
    <br>cofounding member of MAMA, cultural center of Multimedia Insitute Zagreb <a href="http://mama.mi2.hr/">http://mama.mi2.hr/</a>
    <br>background: queer practise &amp; activism, grassroot work in social spheres<br>critical to LGTB mainstreaming &amp; normalisation<br>as curator after doing many media art exhibition, <br>then started doing sport exhibition <br>(recent <a href="https://archiv.ngbk.de/en/projekte/contesting-contexting-sport-2016/">https://archiv.ngbk.de/en/projekte/contesting-contexting-sport-2016/</a> )<br>systems that project this idea of <br>neutrality, petrifies something as the norm, <br>which you have to fight as a radical less than you are not. <br>
    <br>Started to work with Schwules Museum Berlin, gay Museum:<a href="http://www.schwulesmuseum.de/">http://www.schwulesmuseum.de/</a>
    <br>they did 'bad' exhibition on homosexuality, very popular<br>queer reading of the exhibition was not successful, very little queer- &amp; transnarratives<br>has 100y collection of art, mainly private collections of wealthy white gay males<br>missing elements were hand drawn..., 'design quick fix'<br>mistakes when people have good intentions<br>-&gt; gay/lesbian/trans/queer sports exhibition: 1 part online, 1 part in the museum<br>-&gt; collaborative: usually you choose collaborators you agree with, not people you go into conflict with<br>
    <br>what could be a participatory systems to deal with histories that are not ?represented?? as they appear.<br>revision process: what is no longer called paiting<br>insititutions are writing the queer history now, renaming works with more politically correct names<br>not explicit to the public.. just fixing up names. taken fo granted in the last version..<br>
    <br>intervention into archive into museum such as Van Abbe Museum<br>
    <a href="https://vanabbemuseum.nl/en/collection/queering/">https://vanabbemuseum.nl/en/collection/queering/</a>
    <br>
    <a href="https://www.facebook.com/events/1734621030131167/">https://www.facebook.com/events/1734621030131167/</a> *(Thursdays)<br>we'll start to deal with things proceduraly<br>they invite (systemically accepted) artists, not activists, which relieves them of the necessity to represent lgbt interests<br>appearing more progressive then they are<br>
    <br>when Fundació Antoni Tàpies collaborates with the problematic croatian museum of contemporary art, in the 'sharing' EU-context, feminist tools &amp; visions in the project, but the CR museum only picked up finacial stream<br>ay (<s>Olympic</s>) Games, forked into OutGames<br>in Balkans: conflict is a virtue, not a sin ;-)<br>negative feedback is essential part of production (vs US culture)<br>
    <br>'we will not build a history, but it will be a series of statements that will collide against each other'<br>
    <br>How to do this? Wiki? Wikipedia?<br>not producing single document pages, but source code, but needs output that are accessible for public<br>show that 'not all gays are victims &amp; not all gays are happy'<br>
    <br>What kinds of content can we imagine to articulate as series of conflicts? Instead of single position.<br>ex the breakdown of Yougoslavia in 4 concurrent versions<br>Have a look at this 'The Danger of a Single Story' by Chimamanda Ngozi Adichie: <br>
    <a href="https://www.youtube.com/watch?v=D9Ihs241zeg">https://www.youtube.com/watch?v=D9Ihs241zeg</a>
    <br>She's a great writer, no relationships in first sentence of Wikipedia :-)<br>
    <a href="https://en.wikipedia.org/wiki/Chimamanda_Ngozi_Adichie">https://en.wikipedia.org/wiki/Chimamanda_Ngozi_Adichie</a>
    <br>
    <br>Might be interested in not looking at the objects, but at the metadata: which objects were promiscuous?<br>
    <br>
    <strong>
      <u>Questions &amp; comments</u>
    </strong>
    <br>Dona: audience of museum is not diverse, finding new narratives for the museums.<br>How object is exposed in time, is not done<br>-&gt; absence of context around the work &amp; absence of general context<br>
    <br>Seda: Museum is part of nation building project, it is about creating whiteness<br>How much is it about the narrative? Start somewhere else? <br>Marginalised community vs national context<br>Zeljko: Coming from recent Vouging trend Ultra Red Group investigated  "Paris is Burning" narrative and Madonna dancers. This person organized exhibitions around movements <br>Peter: exhibition rereading Peruvian art history - reference???<br>Zeljko: queering comes from subjectivities, shouldn't be done retrospectively<br>Geraldine: Question the very concept of "access". (acess is nothing without context for instance) . The question of clerical work.. does all work related with information needs to be clerical (documents, writing, or the are possibilities for other approaches than can infuse more energy to traditional archivism, and archivalist impulses and fevers?<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>

